@font-face {
	font-family: "Red Rose";
	src: url("fonts/RedRose-Bold.ttf");
}

@font-face {
	font-family: "Cursive";
	src: url("fonts/cursive.ttf")
}

@font-face {
	font-family: "Cascadia Code";
	src: url("fonts/CASCADIACODE.TTF")
}

// Article Title - Secular One
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

// Article Text - Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

// Article Hours - Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');